{
    "driver_config": {
        "remote_id": "fake-campus-building-1"
    },
    "registry_config": "config://fake.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "driver_type": "fake",
    "publish_depth_first_multi": true,
    "publish_depth_first_all": true,
    "publish_breadth_first_all": false,
    "publish_breadth_first_multi": false
}
